/* Index page CSS for Application-process---Basic-SQL_part2 assignment 
    by Gabor Koncz
*/


/* 
==========================================================================
Globals
==========================================================================
*/
html {
    min-height: 100%;
    margin: auto;
}
body {
    margin: 0;
    position: center;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    height: 100%;
    background: fixed;
    background: -webkit-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Opera 11.6-12.0 */
    background: -moz-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Firefox 3.6-15 */
    background: radial-gradient(circle, #e8e9eb 30%, #a2a5aa 100%); /* Standard syntax */
}


/* 
==========================================================================
Top menu
==========================================================================
*/

/* The navigation bar */
.menu-top {
    box-sizing: border-box;
    background-color: #61a2c8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 8px #888888;
    margin: 0;
}

/* Links inside the navbar */
.menu-top a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Codecool logo on the navbar */
.menu-top img {
    float: right;
    display: block;
    padding-right: 1em;
    margin: auto;
    max-width: 100%;
    height: auto;
    
}


/* Menu links sweep-effect */
.menu-top a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu-top a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d9474a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menu-top a:hover, .menu-top a:focus, .menu-top a:active {
    color: white;
}
.menu-top li a:hover:before, .menu-top a:focus:before, .menu-top a:active:before {
    -webkit-transform: scaleY(1.09);
    transform: scaleY(1.09);
}


/* Dropdown menu */
.menu-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-top li {
    float: left;
}

.menu-top li a, .dropbtn {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-top li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #57a1c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* The search box 
input[type=text] {
    margin: 5px 10px;
    float: right;
    height: 40px;
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 16px;
    background-color: white;
    background-image: url('/static/img/search_icon.png');
    background-size: 1.3em 1.3em;
    background-position: 0.5em 0.6em; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}
*/

/* 
==========================================================================
Sidebar
==========================================================================
*/

.sidebar h2 h3 {
    position: relative;
    float: left;
}

.sidebar_icon {
    margin: 50px 0 0 20px;
    box-sizing: border-box;
}

.sidebar {
    color: #ffffff;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #61a2c8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar input {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #61a2c8;
    display: block;
    transition: 0.3s;
}

.sidebar input:hover, .offcanvas input:focus{
    color: #d9474a;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar ul{
    text-align: center;
    list-style: none;
    margin: auto;
    padding: 0;
	overflow: auto;
}

.sidebar ul li{
    color: #ffffff;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 5em;
}

.sidebar ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.sidebar ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 25px;
    margin: auto;
    height: 1em;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.sidebar ul li:hover label{
	color: #FFFFFF;
}

.sidebar ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.sidebar ul li:hover .check {
    border: 5px solid #FFFFFF;
}

.sidebar ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.sidebar input[type=radio]:checked ~ .check {
    border: 5px solid #d9474a;
}

.sidebar input[type=radio]:checked ~ .check::before{
    background: #d9474a;
}

.sidebar input[type=radio]:checked ~ label{
    color: #d9474a;
}



#main {
    position: center;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar input {font-size: 18px;}
}




/* 
==========================================================================
Title
==========================================================================
*/

h1 {
    text-align: center;
    margin-top: 3em;
    box-sizing: border-box;
    color: #d9474a;
    text-shadow: 0px 1px 1px #888888;
}


/* 
==========================================================================
Links to the queries
==========================================================================
*/

.sql-links {
    box-sizing: border-box;
    width: 50%;
    display: block;
    padding: 10px;
    margin: auto;
}

.sql-links ul {
    list-style-type: none;
}

/* List elements */
.sql-links li {
    float: left;
    margin: 7px;
    text-align: center;
    padding: 1.5em;
    position: relative;
    width: 400px;
    height: 50px;
    background-color: #61a2c8;
    border-radius: 2px;
    box-shadow: 0px 1px 4px #b0b0b0;
    border-radius: 2px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sql-links li::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sql-links li:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.sql-links li:hover::after {
    opacity: 1;
}

.sql-links a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.1em 0em;
    text-decoration: none;
    margin: 0;
    width: 90%;
    height: 90%;
    font-size: 1.5em;
}

