<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/table.css">
        <link rel="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=Raleway">
        <title>Mentors by country</title>
    </head>
    <body>
        <div class="menu-top">
            <img src="/static/img/codecool_logo.svg" alt="Codecool logo" style="width:300px;height:50px;">
            <a href="/index">Home</a>
            <a href="/index">Part 1 queries</a>
            <a href="#contact">Part 2 queries</a>
        </div>
        <h1>Application process - SQL part 2</h1>
        <h2>Mentors by country</h2>
        <div class="table" style="overflow-x:auto;">
            <table>
                <tr>
                    {% for header in table_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                    {% for row in mentors_by_country_data %}
                        <tr>
                            {% for data in row %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </body>
</html>